<a href="https://colab.research.google.com/github/pranayb-konverge/pyspark-tutorial/blob/main/PySpark_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Install pyspark

In [95]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [96]:
import pyspark

In [97]:
import pandas as pd
pd.read_csv('pyspark_dummy_data.csv')

                 Name  Age
0        Fair Glowach   34
1   Alberik McGuiness   35
2      Marys Coweuppe   30
3    Ursula Finlaison   35
4    Marchall Danslow   33
..                ...  ...
95       Gideon Stoll   30
96     Adelheid Wicks   35
97    Alastair Blasio   31
98       Glad MacClay   30
99      Kirbie Beeton   32

[100 rows x 2 columns]

In [98]:
from pyspark.sql import SparkSession

In [99]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [100]:
spark

Will cover:

1.   PySpark Dataframe
2.   Reading The Dataset
3. Checking the Datatypes of the Column(Schema)
4. Selecting Columns And Indexing
5. Check Describe option similar to Pandas
6. Adding Columns
7. Dropping columns
8. Renaming Columns

In [101]:
## read the data set
df_pyspark = spark.read.csv('pyspark_dummy_data2.csv', header=True,inferSchema=True)

In [102]:
df_pyspark

DataFrame[Name: string, Age: int, Experience: int]

In [103]:
# Check the Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [104]:
# selecting column/s
df_pyspark.columns

['Name', 'Age', 'Experience']

In [105]:
df_pyspark.head(3)

[Row(Name='Meridith Marklow', Age=31, Experience=6),
 Row(Name='Rudie Kirkbride', Age=38, Experience=12),
 Row(Name='Gerik Kilrow', Age=41, Experience=15)]

In [106]:
df_pyspark.select('Name').head(3)

[Row(Name='Meridith Marklow'),
 Row(Name='Rudie Kirkbride'),
 Row(Name='Gerik Kilrow')]

In [107]:
df_pyspark.select(['Name','age']).head(3)

[Row(Name='Meridith Marklow', age=31),
 Row(Name='Rudie Kirkbride', age=38),
 Row(Name='Gerik Kilrow', age=41)]

In [108]:
# describe option similar to Pandas
df_pyspark.describe().show()

+-------+---------------+-----------------+----------------+
|summary|           Name|              Age|      Experience|
+-------+---------------+-----------------+----------------+
|  count|             50|               50|              50|
|   mean|           null|            36.54|            9.68|
| stddev|           null|4.612361385561674|3.12618956950627|
|    min|Aimee Retallick|               30|               5|
|    max|   Zabrina Titt|               45|              15|
+-------+---------------+-----------------+----------------+

In [109]:
# adding columns in data frame
df_pyspark = df_pyspark.withColumn('Experience after 2 years', df_pyspark['Experience'] + 2)

In [110]:
df_pyspark.show()

+------------------+---+----------+------------------------+
|              Name|Age|Experience|Experience after 2 years|
+------------------+---+----------+------------------------+
|  Meridith Marklow| 31|         6|                       8|
|   Rudie Kirkbride| 38|        12|                      14|
|      Gerik Kilrow| 41|        15|                      17|
|     Ileane Ablott| 31|        11|                      13|
|   Anthony Selland| 35|         8|                      10|
|  Jock Duckinfield| 43|         5|                       7|
|     Temple Latour| 37|        14|                      16|
|   Delphinia Arnet| 41|        10|                      12|
|  Langston Izakson| 43|         7|                       9|
|      Doria Figura| 30|        12|                      14|
|      Mellie Eyles| 32|        14|                      16|
|      Almire Bertl| 37|         8|                      10|
| Rollins Rignoldes| 30|         7|                       9|
|Jacklin Champerlen| 32|         9|                      11|
| Gretta Sprackling| 33|        11|                      13|
|     Gill Edgerton| 38|         5|                       7|
|  Jaquith Austwick| 39|        13|                      15|
|     Bartie Edwins| 40|        15|                      17|
|     Maurine Frude| 33|         8|                      10|
|    Tibold Norwell| 37|         9|                      11|
+------------------+---+----------+------------------------+
only showing top 20 rows

In [111]:
# drop the columns
df_pyspark_dropped = df_pyspark.drop('Experience after 2 years')

In [112]:
df_pyspark_dropped.show()

+------------------+---+----------+
|              Name|Age|Experience|
+------------------+---+----------+
|  Meridith Marklow| 31|         6|
|   Rudie Kirkbride| 38|        12|
|      Gerik Kilrow| 41|        15|
|     Ileane Ablott| 31|        11|
|   Anthony Selland| 35|         8|
|  Jock Duckinfield| 43|         5|
|     Temple Latour| 37|        14|
|   Delphinia Arnet| 41|        10|
|  Langston Izakson| 43|         7|
|      Doria Figura| 30|        12|
|      Mellie Eyles| 32|        14|
|      Almire Bertl| 37|         8|
| Rollins Rignoldes| 30|         7|
|Jacklin Champerlen| 32|         9|
| Gretta Sprackling| 33|        11|
|     Gill Edgerton| 38|         5|
|  Jaquith Austwick| 39|        13|
|     Bartie Edwins| 40|        15|
|     Maurine Frude| 33|         8|
|    Tibold Norwell| 37|         9|
+------------------+---+----------+
only showing top 20 rows

In [113]:
df_pyspark = df_pyspark.withColumnRenamed('Experience' , 'Current Experience')

In [114]:
df_pyspark.show()

+------------------+---+------------------+------------------------+
|              Name|Age|Current Experience|Experience after 2 years|
+------------------+---+------------------+------------------------+
|  Meridith Marklow| 31|                 6|                       8|
|   Rudie Kirkbride| 38|                12|                      14|
|      Gerik Kilrow| 41|                15|                      17|
|     Ileane Ablott| 31|                11|                      13|
|   Anthony Selland| 35|                 8|                      10|
|  Jock Duckinfield| 43|                 5|                       7|
|     Temple Latour| 37|                14|                      16|
|   Delphinia Arnet| 41|                10|                      12|
|  Langston Izakson| 43|                 7|                       9|
|      Doria Figura| 30|                12|                      14|
|      Mellie Eyles| 32|                14|                      16|
|      Almire Bertl| 37|                 8|                      10|
| Rollins Rignoldes| 30|                 7|                       9|
|Jacklin Champerlen| 32|                 9|                      11|
| Gretta Sprackling| 33|                11|                      13|
|     Gill Edgerton| 38|                 5|                       7|
|  Jaquith Austwick| 39|                13|                      15|
|     Bartie Edwins| 40|                15|                      17|
|     Maurine Frude| 33|                 8|                      10|
|    Tibold Norwell| 37|                 9|                      11|
+------------------+---+------------------+------------------------+
only showing top 20 rows

Pyspark Handling Missing Values

*   Dropping Columns
*   Dropping Rows
*   Various Parameter In Dropping functionalities
*   Handling Missing values by Mean, MEdian And Mode

In [115]:
df_pyspark=spark.read.csv('pyspark_dummy_data3.csv',header=True,inferSchema=True)

In [116]:
df_pyspark.show()

+-------------------+----+----------+-------+
|               Name| Age|Experience| Salary|
+-------------------+----+----------+-------+
|  Heriberto Crebott|  34|         5|1584303|
|      Loren Gossage|  42|        15|1363913|
|   Ruperta Le febre|  43|         9| 929016|
|Jaquenette Ratledge|  45|        13|1622024|
|        Becky Tiner|  38|        12|1908402|
|               null|  31|      null| 145214|
|               null|  32|      null| 187452|
|              Nitin|null|        12| 215214|
+-------------------+----+----------+-------+

In [117]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [119]:
##drop the columns
df_pyspark.drop('Name').show()

+----+----------+-------+
| Age|Experience| Salary|
+----+----------+-------+
|  34|         5|1584303|
|  42|        15|1363913|
|  43|         9| 929016|
|  45|        13|1622024|
|  38|        12|1908402|
|  31|      null| 145214|
|  32|      null| 187452|
|null|        12| 215214|
+----+----------+-------+

In [120]:
# drop only the null rows
df_pyspark.na.drop().show()

+-------------------+---+----------+-------+
|               Name|Age|Experience| Salary|
+-------------------+---+----------+-------+
|  Heriberto Crebott| 34|         5|1584303|
|      Loren Gossage| 42|        15|1363913|
|   Ruperta Le febre| 43|         9| 929016|
|Jaquenette Ratledge| 45|        13|1622024|
|        Becky Tiner| 38|        12|1908402|
+-------------------+---+----------+-------+

In [121]:
### any==how
df_pyspark.na.drop(how="any").show()

+-------------------+---+----------+-------+
|               Name|Age|Experience| Salary|
+-------------------+---+----------+-------+
|  Heriberto Crebott| 34|         5|1584303|
|      Loren Gossage| 42|        15|1363913|
|   Ruperta Le febre| 43|         9| 929016|
|Jaquenette Ratledge| 45|        13|1622024|
|        Becky Tiner| 38|        12|1908402|
+-------------------+---+----------+-------+

In [124]:
### all==how
df_pyspark.na.drop(how="all").show()

+-------------------+----+----------+-------+
|               Name| Age|Experience| Salary|
+-------------------+----+----------+-------+
|  Heriberto Crebott|  34|         5|1584303|
|      Loren Gossage|  42|        15|1363913|
|   Ruperta Le febre|  43|         9| 929016|
|Jaquenette Ratledge|  45|        13|1622024|
|        Becky Tiner|  38|        12|1908402|
|               null|  31|      null| 145214|
|               null|  32|      null| 187452|
|              Nitin|null|        12| 215214|
+-------------------+----+----------+-------+

In [126]:
##threshold, atleast these many non null values should be present
df_pyspark.na.drop(how="any",thresh=3).show()

+-------------------+---+----------+-------+
|               Name|Age|Experience| Salary|
+-------------------+---+----------+-------+
|  Heriberto Crebott| 34|         5|1584303|
|      Loren Gossage| 42|        15|1363913|
|   Ruperta Le febre| 43|         9| 929016|
|Jaquenette Ratledge| 45|        13|1622024|
|        Becky Tiner| 38|        12|1908402|
+-------------------+---+----------+-------+

In [123]:
##Subset - drop only values from that perticular column
df_pyspark.na.drop(how="any",subset=['Age']).show()

+-------------------+---+----------+-------+
|               Name|Age|Experience| Salary|
+-------------------+---+----------+-------+
|  Heriberto Crebott| 34|         5|1584303|
|      Loren Gossage| 42|        15|1363913|
|   Ruperta Le febre| 43|         9| 929016|
|Jaquenette Ratledge| 45|        13|1622024|
|        Becky Tiner| 38|        12|1908402|
|               null| 31|      null| 145214|
|               null| 32|      null| 187452|
+-------------------+---+----------+-------+

In [138]:
### Filling the Missing Value
df_pyspark.na.fill('Missing Values',['Name','Age','Experience']).show()

+-------------------+----+----------+-------+
|               Name| Age|Experience| Salary|
+-------------------+----+----------+-------+
|  Heriberto Crebott|  34|         5|1584303|
|      Loren Gossage|  42|        15|1363913|
|   Ruperta Le febre|  43|         9| 929016|
|Jaquenette Ratledge|  45|        13|1622024|
|        Becky Tiner|  38|        12|1908402|
|     Missing Values|  31|      null| 145214|
|     Missing Values|  32|      null| 187452|
|              Nitin|null|        12| 215214|
+-------------------+----+----------+-------+

In [131]:
# include the mean of the column in the null cels
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [132]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------------------+----+----------+-------+-----------+------------------+--------------+
|               Name| Age|Experience| Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------------------+----+----------+-------+-----------+------------------+--------------+
|  Heriberto Crebott|  34|         5|1584303|         34|                 5|       1584303|
|      Loren Gossage|  42|        15|1363913|         42|                15|       1363913|
|   Ruperta Le febre|  43|         9| 929016|         43|                 9|        929016|
|Jaquenette Ratledge|  45|        13|1622024|         45|                13|       1622024|
|        Becky Tiner|  38|        12|1908402|         38|                12|       1908402|
|               null|  31|      null| 145214|         31|                12|        145214|
|               null|  32|      null| 187452|         32|                12|        187452|
|              Nitin|null|        12| 215214|         38|                12|        215214|
+-------------------+----+----------+-------+-----------+------------------+--------------+

Pyspark Dataframes
* Filter Operation
* &,|,==
* ~

In [143]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()
df_pyspark=spark.read.csv('pyspark_dummy_data3.csv',header=True,inferSchema=True)

In [144]:
df_pyspark.show()

+-------------------+----+----------+-------+
|               Name| Age|Experience| Salary|
+-------------------+----+----------+-------+
|  Heriberto Crebott|  34|         5|1584303|
|      Loren Gossage|  42|        15|1363913|
|   Ruperta Le febre|  43|         9| 929016|
|Jaquenette Ratledge|  45|        13|1622024|
|        Becky Tiner|  38|        12|1908402|
|               null|  31|      null| 145214|
|               null|  32|      null| 187452|
|              Nitin|null|        12| 215214|
+-------------------+----+----------+-------+

# Filter Operations

In [152]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=1622024").show()

+-------------------+----+----------+-------+
|               Name| Age|Experience| Salary|
+-------------------+----+----------+-------+
|  Heriberto Crebott|  34|         5|1584303|
|      Loren Gossage|  42|        15|1363913|
|   Ruperta Le febre|  43|         9| 929016|
|Jaquenette Ratledge|  45|        13|1622024|
|               null|  31|      null| 145214|
|               null|  32|      null| 187452|
|              Nitin|null|        12| 215214|
+-------------------+----+----------+-------+

In [153]:
# filter way 1
df_pyspark.filter("Salary<=1622024").select(['Name','age']).show()

+-------------------+----+
|               Name| age|
+-------------------+----+
|  Heriberto Crebott|  34|
|      Loren Gossage|  42|
|   Ruperta Le febre|  43|
|Jaquenette Ratledge|  45|
|               null|  31|
|               null|  32|
|              Nitin|null|
+-------------------+----+

In [154]:
# filter way 2
df_pyspark.filter(df_pyspark['Salary']<=1622024).show()

+-------------------+----+----------+-------+
|               Name| Age|Experience| Salary|
+-------------------+----+----------+-------+
|  Heriberto Crebott|  34|         5|1584303|
|      Loren Gossage|  42|        15|1363913|
|   Ruperta Le febre|  43|         9| 929016|
|Jaquenette Ratledge|  45|        13|1622024|
|               null|  31|      null| 145214|
|               null|  32|      null| 187452|
|              Nitin|null|        12| 215214|
+-------------------+----+----------+-------+

In [155]:
###OR 
df_pyspark.filter((df_pyspark['Salary']<=20000) | 
                  (df_pyspark['Salary']>=15000)).show()

+-------------------+----+----------+-------+
|               Name| Age|Experience| Salary|
+-------------------+----+----------+-------+
|  Heriberto Crebott|  34|         5|1584303|
|      Loren Gossage|  42|        15|1363913|
|   Ruperta Le febre|  43|         9| 929016|
|Jaquenette Ratledge|  45|        13|1622024|
|        Becky Tiner|  38|        12|1908402|
|               null|  31|      null| 145214|
|               null|  32|      null| 187452|
|              Nitin|null|        12| 215214|
+-------------------+----+----------+-------+

In [156]:
### NOT
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+-------------------+----+----------+-------+
|               Name| Age|Experience| Salary|
+-------------------+----+----------+-------+
|  Heriberto Crebott|  34|         5|1584303|
|      Loren Gossage|  42|        15|1363913|
|   Ruperta Le febre|  43|         9| 929016|
|Jaquenette Ratledge|  45|        13|1622024|
|        Becky Tiner|  38|        12|1908402|
|               null|  31|      null| 145214|
|               null|  32|      null| 187452|
|              Nitin|null|        12| 215214|
+-------------------+----+----------+-------+

# Pyspark GroupBy And Aggregate Functions

In [157]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [158]:
spark

In [159]:
df_pyspark.show()

+-------------------+----+----------+-------+
|               Name| Age|Experience| Salary|
+-------------------+----+----------+-------+
|  Heriberto Crebott|  34|         5|1584303|
|      Loren Gossage|  42|        15|1363913|
|   Ruperta Le febre|  43|         9| 929016|
|Jaquenette Ratledge|  45|        13|1622024|
|        Becky Tiner|  38|        12|1908402|
|               null|  31|      null| 145214|
|               null|  32|      null| 187452|
|              Nitin|null|        12| 215214|
+-------------------+----+----------+-------+

In [160]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+-------------------+--------+---------------+-----------+
|               Name|sum(Age)|sum(Experience)|sum(Salary)|
+-------------------+--------+---------------+-----------+
|   Ruperta Le febre|      43|              9|     929016|
|               null|      63|           null|     332666|
|  Heriberto Crebott|      34|              5|    1584303|
|        Becky Tiner|      38|             12|    1908402|
|      Loren Gossage|      42|             15|    1363913|
|              Nitin|    null|             12|     215214|
|Jaquenette Ratledge|      45|             13|    1622024|
+-------------------+--------+---------------+-----------+

In [161]:
df_pyspark.groupBy('Name').avg().show()

+-------------------+--------+---------------+-----------+
|               Name|avg(Age)|avg(Experience)|avg(Salary)|
+-------------------+--------+---------------+-----------+
|   Ruperta Le febre|    43.0|            9.0|   929016.0|
|               null|    31.5|           null|   166333.0|
|  Heriberto Crebott|    34.0|            5.0|  1584303.0|
|        Becky Tiner|    38.0|           12.0|  1908402.0|
|      Loren Gossage|    42.0|           15.0|  1363913.0|
|              Nitin|    null|           12.0|   215214.0|
|Jaquenette Ratledge|    45.0|           13.0|  1622024.0|
+-------------------+--------+---------------+-----------+

In [162]:
### Groupby Experience  which gives maximum salary
df_pyspark.groupBy('Experience').sum().show()

+----------+--------+---------------+-----------+
|Experience|sum(Age)|sum(Experience)|sum(Salary)|
+----------+--------+---------------+-----------+
|        12|      38|             24|    2123616|
|      null|      63|           null|     332666|
|        13|      45|             13|    1622024|
|         5|      34|              5|    1584303|
|        15|      42|             15|    1363913|
|         9|      43|              9|     929016|
+----------+--------+---------------+-----------+

In [163]:
df_pyspark.groupBy('Experience').mean().show()

+----------+--------+---------------+-----------+
|Experience|avg(Age)|avg(Experience)|avg(Salary)|
+----------+--------+---------------+-----------+
|        12|    38.0|           12.0|  1061808.0|
|      null|    31.5|           null|   166333.0|
|        13|    45.0|           13.0|  1622024.0|
|         5|    34.0|            5.0|  1584303.0|
|        15|    42.0|           15.0|  1363913.0|
|         9|    43.0|            9.0|   929016.0|
+----------+--------+---------------+-----------+

In [164]:
df_pyspark.groupBy('Experience').count().show()

+----------+-----+
|Experience|count|
+----------+-----+
|        12|    2|
|      null|    2|
|        13|    1|
|         5|    1|
|        15|    1|
|         9|    1|
+----------+-----+

In [165]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|    7955538|
+-----------+

# Examples Of Pyspark ML

In [166]:
spark=SparkSession.builder.appName('Missing').getOrCreate()

In [179]:
## Read The dataset
training = spark.read.csv('pyspark_dummy_data4.csv',header=True,inferSchema=True)

In [180]:
training.show()

+-------------------+---+----------+-------+
|               Name|Age|Experience| Salary|
+-------------------+---+----------+-------+
|  Heriberto Crebott| 34|         5|1584303|
|      Loren Gossage| 42|        15|1363913|
|   Ruperta Le febre| 43|         9| 929016|
|Jaquenette Ratledge| 45|        13|1622024|
|        Becky Tiner| 38|        12|1908402|
+-------------------+---+----------+-------+

In [181]:
training.columns

['Name', 'Age', 'Experience', 'Salary']

In [182]:
# [Age,Experience]----> new feature--->independent feature
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["Age","Experience"],outputCol="Independent Features")

In [183]:
output=featureassembler.transform(training)

In [184]:
output.show()

+-------------------+---+----------+-------+--------------------+
|               Name|Age|Experience| Salary|Independent Features|
+-------------------+---+----------+-------+--------------------+
|  Heriberto Crebott| 34|         5|1584303|          [34.0,5.0]|
|      Loren Gossage| 42|        15|1363913|         [42.0,15.0]|
|   Ruperta Le febre| 43|         9| 929016|          [43.0,9.0]|
|Jaquenette Ratledge| 45|        13|1622024|         [45.0,13.0]|
|        Becky Tiner| 38|        12|1908402|         [38.0,12.0]|
+-------------------+---+----------+-------+--------------------+

In [185]:
output.columns

['Name', 'Age', 'Experience', 'Salary', 'Independent Features']

In [186]:
finalized_data=output.select("Independent Features","Salary")

In [187]:
finalized_data.show()

+--------------------+-------+
|Independent Features| Salary|
+--------------------+-------+
|          [34.0,5.0]|1584303|
|         [42.0,15.0]|1363913|
|          [43.0,9.0]| 929016|
|         [45.0,13.0]|1622024|
|         [38.0,12.0]|1908402|
+--------------------+-------+

In [188]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Salary')
regressor=regressor.fit(train_data)

In [189]:
### Coefficients
regressor.coefficients

DenseVector([-52575.8405, 46004.5767])

In [190]:
### Intercepts
regressor.intercept

3047375.404907999

In [191]:
### Prediction
pred_results=regressor.evaluate(test_data)

In [192]:
pred_results.predictions.show()

+--------------------+-------+------------------+
|Independent Features| Salary|        prediction|
+--------------------+-------+------------------+
|         [38.0,12.0]|1908402|1601548.3865030692|
+--------------------+-------+------------------+

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [193]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(306853.6134969308, 94159140116.1238)

# Overview

This notebook will show you how to create and query a table or DataFrame that you uploaded to DBFS. DBFS is a Databricks File System that allows you to store data for querying inside of Databricks. This notebook assumes that you have a file already inside of DBFS that you would like to read from.

In [198]:
# File location and type
file_location = "tips.csv"

# The applied options are for CSV files. For other file types, these will be ignored.
df =spark.read.csv(file_location,header=True,inferSchema=True)
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [195]:
### Handling Categorical Features
from pyspark.ml.feature import StringIndexer

In [196]:
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [200]:
indexer=StringIndexer(inputCols=["sex","smoker","day","time"],outputCols=["sex_indexed","smoker_indexed","day_indexed","time_indexed"])
df_r=indexer.fit(df).transform(df)
df_r.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_indexed|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|         0.0|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
only showing top 20 rows

In [202]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=['tip','size','sex_indexed','smoker_indexed','day_indexed',
                          'time_indexed'],outputCol="Independent Features")
output=featureassembler.transform(df_r)
output.select('Independent Features').show()

+--------------------+
|Independent Features|
+--------------------+
|[1.01,2.0,1.0,0.0...|
|[1.66,3.0,0.0,0.0...|
|[3.5,3.0,0.0,0.0,...|
|[3.31,2.0,0.0,0.0...|
|[3.61,4.0,1.0,0.0...|
|[4.71,4.0,0.0,0.0...|
|[2.0,2.0,0.0,0.0,...|
|[3.12,4.0,0.0,0.0...|
|[1.96,2.0,0.0,0.0...|
|[3.23,2.0,0.0,0.0...|
|[1.71,2.0,0.0,0.0...|
|[5.0,4.0,1.0,0.0,...|
|[1.57,2.0,0.0,0.0...|
|[3.0,4.0,0.0,0.0,...|
|[3.02,2.0,1.0,0.0...|
|[3.92,2.0,0.0,0.0...|
|[1.67,3.0,1.0,0.0...|
|[3.71,3.0,0.0,0.0...|
|[3.5,3.0,1.0,0.0,...|
|(6,[0,1],[3.35,3.0])|
+--------------------+
only showing top 20 rows

In [203]:
output.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_indexed|Independent Features|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|[1.01,2.0,1.0,0.0...|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[1.66,3.0,0.0,0.0...|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[3.5,3.0,0.0,0.0,...|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.31,2.0,0.0,0.0...|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|[3.61,4.0,1.0,0.0...|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[4.71,4.0,0.0,0.0...|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[2.0,2.0,0.0,0.0,...|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[3.12,4.0,0.0,0.0...|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.96,2.0,0.0,0.0...|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.23,2.0,0.0,0.0...|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.71,2.0,0.0,0.0...|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|[5.0,4.0,1.0,0.0,...|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.57,2.0,0.0,0.0...|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[3.0,4.0,0.0,0.0,...|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|[3.02,2.0,1.0,0.0...|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.92,2.0,0.0,0.0...|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|[1.67,3.0,1.0,0.0...|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[3.71,3.0,0.0,0.0...|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|[3.5,3.0,1.0,0.0,...|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|         0.0|(6,[0,1],[3.35,3.0])|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
only showing top 20 rows

In [204]:
finalized_data=output.select("Independent Features","total_bill")

In [205]:
finalized_data.show()

+--------------------+----------+
|Independent Features|total_bill|
+--------------------+----------+
|[1.01,2.0,1.0,0.0...|     16.99|
|[1.66,3.0,0.0,0.0...|     10.34|
|[3.5,3.0,0.0,0.0,...|     21.01|
|[3.31,2.0,0.0,0.0...|     23.68|
|[3.61,4.0,1.0,0.0...|     24.59|
|[4.71,4.0,0.0,0.0...|     25.29|
|[2.0,2.0,0.0,0.0,...|      8.77|
|[3.12,4.0,0.0,0.0...|     26.88|
|[1.96,2.0,0.0,0.0...|     15.04|
|[3.23,2.0,0.0,0.0...|     14.78|
|[1.71,2.0,0.0,0.0...|     10.27|
|[5.0,4.0,1.0,0.0,...|     35.26|
|[1.57,2.0,0.0,0.0...|     15.42|
|[3.0,4.0,0.0,0.0,...|     18.43|
|[3.02,2.0,1.0,0.0...|     14.83|
|[3.92,2.0,0.0,0.0...|     21.58|
|[1.67,3.0,1.0,0.0...|     10.33|
|[3.71,3.0,0.0,0.0...|     16.29|
|[3.5,3.0,1.0,0.0,...|     16.97|
|(6,[0,1],[3.35,3.0])|     20.65|
+--------------------+----------+
only showing top 20 rows

In [206]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='total_bill')
regressor=regressor.fit(train_data)

In [207]:
regressor.coefficients

DenseVector([3.3106, 3.5275, -1.1343, 1.5127, -0.1956, -0.7129])

In [208]:
regressor.intercept

0.6727496839867498

In [209]:
### Predictions
pred_results=regressor.evaluate(test_data)

In [210]:
## Final comparison
pred_results.predictions.show()

+--------------------+----------+------------------+
|Independent Features|total_bill|        prediction|
+--------------------+----------+------------------+
|(6,[0,1],[1.25,2.0])|     10.07|11.866009517738805|
|(6,[0,1],[1.25,2.0])|     10.51|11.866009517738805|
|(6,[0,1],[1.97,2.0])|     12.02|14.249637581392172|
| (6,[0,1],[2.0,3.0])|     16.31|17.876463751221323|
|(6,[0,1],[2.01,2.0])|     20.23|14.382061362706247|
|(6,[0,1],[2.31,3.0])|     18.69| 18.90274805640541|
|(6,[0,1],[3.39,2.0])|     11.61|18.950681818041872|
|[1.01,2.0,1.0,0.0...|     16.99| 9.741626751863736|
|[1.25,2.0,1.0,0.0...|      8.51| 9.627716587278394|
|[1.48,2.0,0.0,0.0...|      8.52|11.523417845458495|
|[1.5,2.0,0.0,1.0,...|     15.69|14.010742459854374|
|[1.5,2.0,1.0,0.0,...|     10.65|10.455365220491368|
|[1.68,2.0,1.0,0.0...|     13.42|11.051272236404712|
|[2.0,2.0,0.0,0.0,...|     13.13|14.153379855011279|
|[2.0,2.0,0.0,1.0,...|     13.81|15.861615288646775|
|[2.0,2.0,1.0,0.0,...|     10.33|12.110662486917319|
|[2.0,2.0,1.0,0.0,...|     12.26|12.110662486917319|
|[2.0,2.0,1.0,0.0,...|     14.15|12.110662486917319|
|[2.0,2.0,1.0,1.0,...|     10.09|13.427746795819914|
|[2.0,3.0,0.0,1.0,...|     30.06|19.389123622490366|
+--------------------+----------+------------------+
only showing top 20 rows

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [211]:
### Performance Metrics
pred_results.r2,pred_results.meanAbsoluteError,pred_results.meanSquaredError

(0.3339141346540153, 4.950310166042693, 49.33935511397108)